/build
/external/glfw
/external/glslang
/external/lodepng
/external/SDL2
/external/Vulkan-Headers
/external/VulkanMemoryAllocator
/external/SFML
/external/assimp
/external/foonathan_memory
/external/imgui
/external/glm
/external/DevIL
/external/FreeImage
/external/AngelScript
/tests/framegraph/Graphs
/samples/framegraph/PBR/data
/samples/framegraph/Shadertoy/capture
/external/optional
/external/variant
/samples/framegraph/_data
*.user
*.glsl_dbg
