/build
/external/glfw
/external/glslang
/external/lodepng
/external/SDL2
/external/Vulkan-Headers
/external/VulkanMemoryAllocator
/external/SFML
/external/assimp
/external/foonathan_memory
/external/imgui
/external/glm
/external/DevIL
/external/FreeImage
/external/AngelScript
/external/optional
/external/variant
external/string_view
/external/OpenVR
/tests/framegraph/Graphs
/samples/_data
*.user
*.glsl_dbg
